/* ----------------------------STYLING-----------------------------------  */

/* Poppins Font and Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:wght@300;400;600&display=swap');

:root {
    --black: #111;
    --white: #f3f3f3;
    --gold: #DAA520;
    --montse: 'Montserrat', sans-serif;



}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--montse);
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px 0;
}

/* Button  */

.btn {
    display: inline-block;
    width: 180px;
    height: 50px;
    line-height: 50px;
    background-color: var(--white);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: var(--montse);
    font-weight: 600;
    color: var(--black);
    font-size: 16px;
    transition: all .5s ease-in-out;
    text-transform: uppercase;

}


/* Titles */

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.05em;
    margin: .5rem 0;
    text-align: center;
}



/* Header */

.header {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='69.282' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 7%, 1)'/><path d='M13.333-3.849v23.094M6.667-15.396l20 11.547M13.333-19.245l20 11.547M20 0v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 0M0-11.547l6.667 3.849 6.666 3.849L20 0m0-23.094l20 11.547v23.094L20 23.094l-6.667-3.849-6.666-3.849L0 11.547v-23.094l6.667-3.849 6.666-3.849zM40-3.769L20 7.698m20-3.849l-16.253 9.384L20 15.396M6.667-7.698v23.094m6.666 50.037v23.094M6.667 53.886l20 11.547M13.333 50.037l20 11.547M20 69.282v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 69.282M0 57.735l6.667 3.849 6.666 3.849L20 69.282m0-23.094l20 11.547v23.094L20 92.376l-6.667-3.849-6.666-3.849L0 80.829V57.735l6.667-3.849 6.666-3.849zm20 19.325L20 76.98m20-3.849L20 84.678M6.667 61.584v23.094m26.666-53.886v23.094m-6.666-34.641l20 11.547M33.333 15.396l20 11.547M40 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L40 34.641M20 23.094l6.667 3.849 6.666 3.849L40 34.641m0-23.094l20 11.547v23.094L40 57.735l-6.667-3.849-6.666-3.849L20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L40 42.339m20-3.849L40 50.037M26.667 26.943v23.094M-6.667 30.792v23.094m-6.666-34.641l20 11.547M-6.667 15.396l20 11.547M0 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L0 34.641m-20-11.547l6.667 3.849 6.666 3.849L0 34.641m0-23.094l20 11.547v23.094L0 57.735l-6.667-3.849-6.666-3.849L-20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L0 42.339m20-3.849L0 50.037m-13.333-23.094v23.094'  stroke-width='1' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;

}


/* menu */
.icon {
    display: none;
    font-size: 30px;
}

.bx-x {
    color: var(--primary);
}

.icon i {
    font-size: 40px;
}


/* Nav */

.nav-menu {
    position: fixed;
    width: 100%;
    margin: 0;
    height: 60px;
    z-index: 1;
    transition: all .5s ease-in-out;
}

.nav-solid {
    background-color: #000;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    height: 60px;

}

.nav-logo-a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);

}

.nav-logo-a h2 {
    margin-left: 10px;
}


.nav-links a {

    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-left: 1.5rem;
    text-decoration: none;

    color: var(--white);
    border-bottom: 1px solid transparent;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.05em;

}

.header-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-text {
    width: 45%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    grid-gap: 1.3rem;

}


.header-text h1 {
    font-family: 'Poppins'sans-serif;
    font-weight: 600;
    font-size: 50px;

}

.header-text h3 {
    display: inline-block;
    font-family: var(--montse);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.05em;

}



.header-text-animated p {
    font-family: var(--montse);
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.05em;
    overflow: hidden;
}

.header-text-animated p span.typed-text {
    font-weight: 400;
    color: var(--gold);
}

.header-text-animated p span.cursor {
    display: inline-block;
    background-color: var(--gold);
    margin-left: 0.1rem;
    width: 1px;
    animation: blink 1s infinite;
}

.header-text-animated p span.cursor.typing {
    animation: none;
  }

  /* BLINK ANIMATION */
  @keyframes blink {
    0% {
      background-color: var(--gold);
    }
    49% {
      background-color: var(--gold);
    }
    50% {
      background-color: transparent;
    }
    99% {
      background-color: transparent;
    }
    100% {
      background-color: var(--gold);
    }
  }
  


.header-ilustration {
    width: 45%;
    margin-right: 2rem;
}

.header-ilustration img {
    width: 550px;
    height: 550px;
}

/* HEADER ANIMATIONS */

.nav-logo-a:hover {
    opacity: .5;
    transition: all .5s ease-in-out;
}

.nav-links a:hover {
    opacity: .7;
    border-bottom: 1px solid var(--white);
    transition: all .5s ease-in-out;
}

.btn:hover {
    color: var(--white);
    border: 1px solid var(--white);
    background-color: transparent;
}


/* PORTFOLIO STYLING */

.portfolio {
    width: 100%;
    margin: 0 auto;
    background-color: #f3f3f3;
    color: var(--black);
}

.portfolio-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}


.portfolio-text {
    text-align: center;
}

.portfolio-text p {
    font-family: var(--montse);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    margin: 1rem 0;
}

portfolio-card-title {
    font-family: var(--montse);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    margin: 1rem 0;
}

.portfolio-text a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
    color: var(--black);
    transition: all .5s ease-in-out;
}

.portfolio-text i {
    font-size: 20px;
}


.portfolio-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 29%;
    overflow: hidden;
    margin: 2rem 1rem;
    box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, .5);
    transition: all .5s ease-in-out;
    border-radius: 5px;
}

.portfolio-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: all .5s ease-out;
}

.portfolio-card-text {
    margin: 1.2rem 0;
    text-align: center;
    margin: 1rem 0;
}

.portfolio-card-text h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    padding: .5rem;
}

.portfolio-card a {
    display: inline-block;
    border: none;
    outline: 0;
    padding: 0.5rem;
    color: var(--white);
    background-color: var(--black);
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.card-icons {
    margin: .5rem 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;

}

.card-icons i {
    margin-left: 5px;
}

/* Portfolio animations */

.portfolio-text a:hover {
    opacity: 0.8;
}

.portfolio-card img:hover {
    transform: scale(1.1);
}

.portfolio-card:hover {
    transform: translateY(-10px);
}

.portfolio-card a:hover {
    opacity: .9;
}


/* ABOUT STYLING */

.about {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='69.282' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 7%, 1)'/><path d='M13.333-3.849v23.094M6.667-15.396l20 11.547M13.333-19.245l20 11.547M20 0v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 0M0-11.547l6.667 3.849 6.666 3.849L20 0m0-23.094l20 11.547v23.094L20 23.094l-6.667-3.849-6.666-3.849L0 11.547v-23.094l6.667-3.849 6.666-3.849zM40-3.769L20 7.698m20-3.849l-16.253 9.384L20 15.396M6.667-7.698v23.094m6.666 50.037v23.094M6.667 53.886l20 11.547M13.333 50.037l20 11.547M20 69.282v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 69.282M0 57.735l6.667 3.849 6.666 3.849L20 69.282m0-23.094l20 11.547v23.094L20 92.376l-6.667-3.849-6.666-3.849L0 80.829V57.735l6.667-3.849 6.666-3.849zm20 19.325L20 76.98m20-3.849L20 84.678M6.667 61.584v23.094m26.666-53.886v23.094m-6.666-34.641l20 11.547M33.333 15.396l20 11.547M40 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L40 34.641M20 23.094l6.667 3.849 6.666 3.849L40 34.641m0-23.094l20 11.547v23.094L40 57.735l-6.667-3.849-6.666-3.849L20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L40 42.339m20-3.849L40 50.037M26.667 26.943v23.094M-6.667 30.792v23.094m-6.666-34.641l20 11.547M-6.667 15.396l20 11.547M0 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L0 34.641m-20-11.547l6.667 3.849 6.666 3.849L0 34.641m0-23.094l20 11.547v23.094L0 57.735l-6.667-3.849-6.666-3.849L-20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L0 42.339m20-3.849L0 50.037m-13.333-23.094v23.094'  stroke-width='1' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 1.5rem;
    height: 100vh;
}


.about-content {

    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}


.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.about-title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.05em;
    margin: 1.5rem 0;
}

.about-text p {
    font-family: var(--montse);
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-align: justify;
}

.about-button {
    margin-top: 1.5rem;
}

.about-photo {

    overflow: hidden;
    margin-top: 1.5rem;
    border-radius: 5px;
    height: 450px;
}

.about-photo img {
    width: 100%;
    object-fit: cover;
}


/* SERVICES STYLING */

.services {
    background-color: var(--white);
    color: var(--black);
    position: relative;
}

.services-text {
    text-align: center;
    margin-bottom: 1.5rem;
}

.services-cards {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 1rem;

}

.service-card {

    background-color: var(--black);
    width: 25%;
    height: 15.625rem;
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--black);
    cursor: pointer;
    perspective: 150rem;
    margin: 1rem 1rem;

}

.card-side {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15.625rem;
    backface-visibility: hidden;
    transition: all 0.6s ease;
    border-radius: 5px;
}

.card-side-front {
    color: var(--white);
}

.card-side-back {
    background-color: var(--white);
    color: var(--black);
    transform: rotateY(180deg);
}

.card-icon {
    text-align: center;

}

.card-icon i {
    padding-bottom: 1rem;
    font-size: 4rem;
}

.card-description {
    padding: 0 2rem;
}

.card-description p {
    font-weight: var(--montse);
    letter-spacing: 0.05em;
    line-height: 2rem;
    text-align: center;

}

/* ANIMATIONS */

.service-card:hover .card-side-front {
    transform: rotateY(180deg);
}

.service-card:hover .card-side-back {
    transform: rotate(0);
}

/* CONTACT SECTION */
.contact {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='69.282' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 7%, 1)'/><path d='M13.333-3.849v23.094M6.667-15.396l20 11.547M13.333-19.245l20 11.547M20 0v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 0M0-11.547l6.667 3.849 6.666 3.849L20 0m0-23.094l20 11.547v23.094L20 23.094l-6.667-3.849-6.666-3.849L0 11.547v-23.094l6.667-3.849 6.666-3.849zM40-3.769L20 7.698m20-3.849l-16.253 9.384L20 15.396M6.667-7.698v23.094m6.666 50.037v23.094M6.667 53.886l20 11.547M13.333 50.037l20 11.547M20 69.282v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 69.282M0 57.735l6.667 3.849 6.666 3.849L20 69.282m0-23.094l20 11.547v23.094L20 92.376l-6.667-3.849-6.666-3.849L0 80.829V57.735l6.667-3.849 6.666-3.849zm20 19.325L20 76.98m20-3.849L20 84.678M6.667 61.584v23.094m26.666-53.886v23.094m-6.666-34.641l20 11.547M33.333 15.396l20 11.547M40 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L40 34.641M20 23.094l6.667 3.849 6.666 3.849L40 34.641m0-23.094l20 11.547v23.094L40 57.735l-6.667-3.849-6.666-3.849L20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L40 42.339m20-3.849L40 50.037M26.667 26.943v23.094M-6.667 30.792v23.094m-6.666-34.641l20 11.547M-6.667 15.396l20 11.547M0 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L0 34.641m-20-11.547l6.667 3.849 6.666 3.849L0 34.641m0-23.094l20 11.547v23.094L0 57.735l-6.667-3.849-6.666-3.849L-20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L0 42.339m20-3.849L0 50.037m-13.333-23.094v23.094'  stroke-width='1' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
}

.contact-title {
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2.5rem;
}

.contact-form {
    width: 40%;
}

.form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.form input,
textarea {
    font-family: 'Poppins'sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 1rem;
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #f3f3f3f3;
    outline: none;
    transition: all .5s ease-in-out;
    color: #999;

}

.form input[type="button"] {

    background-color: var(--white);
    border-radius: 5px;
    color: var(--black);

    font-family: var(--montse);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

textarea {
    resize: none;
}


.form input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
    border: 1px solid #f3f3f3;
    color: var(--white);
    background-color: rgba(17, 17, 17, .9);
}

.form input[type="text"]:active,
input[type="email"]:active,
textarea:active {
    border: 1px solid #f3f3f3;
    color: var(--white);
    background-color: rgba(17, 17, 17, .9);
}


.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;


}

.contact-info p,
a {
    color: var(--white);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
}

.copy {
    font-family: 'Poppins', sans-serif;
}

hr {
    width: 100%;
    margin: 2rem 0;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.social-icons a {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all .2s ease-in-out;
}


/* CONTACT Animations  */

.contact-info a:hover {
    opacity: .5;
}


.social-icons a:hover {
    background-color: #f3f3f3;
    color: var(--black);
    border: 1px solid var(--white);
    opacity: 1;
}



input[type="button"]:hover {
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);

}




/* ----------------------------RESPONSIVE DESIGN-----------------------------------  */

@media screen and (max-width: 1200px) and (min-width:1024px) {

    /* Header Styling */
    .header-ilustration img {
        width: 450px;
        height: 450px;
        margin-right: 0;
    }

    /* Portfolio Styling */

    .portfolio-card {
        width: 29%;
    }

    .portfolio-card img {
        height: 200px;
    }


    /* About Styling */

    .about-text {
        width: 40%;
    }

    .about-photo img {
        height: 90%;
    }

    /* Services Styling */

    .service-card {
        width: 30%;
    }

}

@media screen and (max-width: 1144px) {

    .header-text h1{
        font-size: 45px;
    }

    .header-text-animated p{
        font-size: 35px;
    }
    
}


@media screen and (max-width: 1023px) and (min-width:687px) {

    /* Header tablet  */

    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;


    }

    .header {
        height: 1000px;
    }

    .header-hero {


        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .header-text {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .header-ilustration {

        width: 90%;
        margin: 0 auto;
    }

    .header-ilustration img {
        width: 100%;
    }

    .btn {
        margin: 0 auto;
    }


    /* PORTFOLIO STYLING tablet */

    .portfolio .container {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


    }

    .portfolio-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }

    .portfolio-card {
        width: 80%;
    }

    /*  About Styling tablet */

    .about {
        height: auto;
    }

    .about-content {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0;
        margin-bottom: 2rem;

    }

    .about-text {
        text-align: center;
        width: 100%;
    }

    .about-text p {
        text-align: center;
    }

    .about-photo {
        width: 80%;
    }

    /*  Serviced Styling tablet */

    .services .container {
        flex-direction: column;
    }

    .services-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-card {
        width: 70%;
    }

    .card-icon i {
        font-size: 6rem;
    }

    /*  Contact Styling tablet */

    .contact .container {
        flex-direction: column;
    }

    .contact-container {
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }


    .contact-form {
        width: 90%;
    }


    .contact-form input,
    textarea {

        border: 1px solid var(--white);
    }

    .contact-info {
        width: 90%;

    }


}

@media screen and (max-width: 700px) {



    .icon {
        display: flex;
        justify-content: center;
        height: 100%;
        font-size: 35px;
        align-items: center;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        z-index: 100;

    }

    .nav-links {
        display: flex;
        flex-direction: column;
        z-index: 210;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        position: fixed;
        margin-right: 0;
        margin-top: 60px;

        height: 100vh;
        width: 100%;

        top: 0;
        right: 0;

        background-color: #000000;
        transition: all 1s ease;
    }

    .nav-links a {
        font-weight: bolder;
        font-size: 30px;
        margin: -5rem;
        border-bottom: 1px solid transparent;
    }

    .btn-1 {

        -webkit-clip-path: circle(0% at 100% 0%);
        clip-path: circle(0% at 100% 0%);
    }

    .btn-2 {
        -webkit-clip-path: circle(150% at 100% 0%);
        clip-path: circle(150% at 100% 0%);
    }


}



@media screen and (max-width: 686px) {
    /* Header tablet  */

    .container {
        display: flex;

        align-items: center;

    }

    .header {
        height: 900px;
    }

    .header-hero {


        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .header-text {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .header-text h1 {
        font-size: 50px;
    }

    .header-ilustration {

        width: 90%;
        margin: 0 auto;
    }

    .header-ilustration img {
        width: 100%;
    }

    .btn {
        margin: 0 auto;
    }


    /* PORTFOLIO STYLING tablet */

    .portfolio .container {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


    }

    .portfolio-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }

    .portfolio-card {
        width: 80%;
    }

    /*  About Styling tablet */

    .about {
        height: auto;
    }

    .about-content {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0;
        margin-bottom: 2rem;

    }

    .about-text {
        text-align: center;
        width: 100%;
    }

    .about-text p {
        text-align: center;
    }

    .about-photo {
        width: 80%;
    }

    /*  Serviced Styling tablet */

    .services .container {
        flex-direction: column;
    }

    .services-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-card {
        width: 70%;
    }

    .card-icon i {
        font-size: 6rem;
    }

    /*  Contact Styling tablet */

    .contact .container {
        flex-direction: column;
    }

    .contact-container {
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }


    .contact-form {
        width: 90%;
    }


    .contact-form input,
    textarea {

        border: 1px solid var(--white);
    }

    .contact-info {
        width: 90%;

    }
}


@media screen and (max-width: 572px) {
    .header-text h1 {
        font-size: 40px;
    }

    .header-text-animated p{
        font-size: 30px;
    }

    .header-ilustration {
        height: 500px;
    }

    .title {
        font-size: 35px;
    }

    .about-title {
        font-size: 35px;
    }
}


@media screen and (max-width: 457px) {

    .nav-logo-a h2{
        font-size: 25px;
    }

    .header-text h1 {
        font-size: 35px;
        margin-bottom: 0;
    }
    .header-text-animated p{
        font-size: 25px;
    }

    .header-ilustration {
        height: 450px;
    }

    .title {
        font-size: 30px;
    }

    /* Portfolio */

    .portfolio-card {
        width: 90%;
    }

    .portfolio-text p {
        text-align: center;
        font-size: 14px;
    }

    /* About */

    .about-photo {
        height: auto;
    }

    .about-photo img {
        border-radius: 5px;
    }

    .about-text p {
        font-size: 13px;
    }

    /* Service */

    .services-text p {
        font-size: 13px;
    }

    .service-card {
        width: 90%;
    }

    /* Contact */

    .contact-info p {
        font-size: 14px;
    }

    /* Typing responsive */



}


@media screen and (max-width: 400px) {




    .header-text h1 {
        font-size: 30px;
        margin-bottom: 0;
    }

    .header-ilustration {
        height: 400px;
    }

    /* Portfolo  */
    .portfolio-text p {
        font-size: 13px;
    }


}

/* small and medium mobile */

@media screen and (max-width: 375px){

    h2{
        font-size: 25px;
    }

    .header-text h1{
        font-size: 30px;
    }
    .header-text-animated p {
        font-size: 20px;
    }


    .portfolio-text p{
        text-align: center;
    }


}
